*{
    margin: 0;
    padding: 0;
}
.box{
    position: relative;
    top: 70px;
    left: 160px;
    background-color: antiquewhite;
    height: 400px;
    width: 300px;
    border: 2px solid black;
    border-radius: 5%;


}
img{
    width: 220px;
    position: relative;
    top: 20px;
    left: 38px;
    border-radius: 5%;
}
h3{
    font-size: 30px;
    position: relative;
    top: 40px;
    left: 15px;
}
#description{
    font-size:18px;
    font-family: 'Times New Roman', Times, serif;
    border: transparent;
    position: relative;
    top: 45px;
    left: 7px;
}
#s1{
    position:relative; 
    top:-55px;
    left: 20px;
}
#s2{
    position: relative;
    top: -55px;
    left: 40px;
     
}
.nextcard{
    font-style: italic;
    background-color: whitesmoke;
    text-align: center;
    position: relative;
    top: 50px;
    left: 110px;
    border: 1px solid black;
    width: 80px;
    border-radius: 8px;
}

